[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
click = "*"
pyyaml = "*"
"jinja2" = "*"
Pillow = "*"

[dev-packages]
mypy-mypyc = "*"
black = "==18.9b0"
mkdocs = "*"
mkdocs-exclude = "*"

[scripts]
format = "black ."
format-check = "black --check ."
typecheck = "mypy --strict ."
pxl = "python main.py"

[requires]
python_version = "3.7"
