body {
  background: var(--grey-main);
}

nav {
  background: var(--grey-darkest);
  color: var(--white-darkest);
  padding: 1em;
  display: flex;
  align-items: center;
}

nav .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: var(--white-darkest);
  -webkit-transition: fill 0.2s;
}

nav .home-link:hover .icon {
  fill: var(--prim-main);
}

nav .album-name {
  flex: 1;
  color: var(--white-main);
  text-align: center;
  margin-right: -70px;
}

.album {
  content-visibility: auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(2, minmax(200px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1em;
  grid-auto-flow: dense;
  min-width: 400px;
}

.photo img {
  width: 100%;
  height: calc(50vw - 3em);
  object-fit: cover;
  -webkit-transition: transform 0.2s;
}

@media screen and (min-width: 400px) {
  .album {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .photo img{
    height: calc(50vw - 3em);
  }
}

@media screen and (min-width: 800px) {
  .album {
    grid-template-columns: repeat(3, minmax(200px, 1fr));
  }
  .photo img{
    height: calc(33.33vw - 4em);
  }

}

@media screen and (min-width: 1200px) {
  .album {
    grid-template-columns: repeat(5, minmax(200px, 1fr));
    max-width: 1920px;
    margin: 0 auto;
  }
  .photo img{
    height: calc(20vw - 6em);
  }
}


.photo {
  /* Not honoured by Chrome while animating the scale transform */
  border-radius: 5px;
  overflow: hidden;
}

/* This is required to fix an annoying glitch with the transform
 * on hover. Without the line-height property, the anchor tag has
 * some height of it's own. This leads to an annoying shift of the
 * photo: it doesn't seem to zoom while being completely static.
 */
.photo a {
  display: block;
  line-height: 0;
}



.photo:hover img {
  transform: scale(1.1);
}

.credits a {
  color: var(--white-darkest);
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.credits a:hover {
  color: var(--prim-main);
}
