body {
  background: var(--grey-main);
}

nav {
  background: var(--grey-darkest);
  color: var(--grey-lightest);
  padding: 1em;
  display: flex;
  align-items: center;
}

nav .icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: var(--grey-lightest);
  -webkit-transition: fill 0.2s;
}

nav .home-link:hover .icon {
  fill: var(--prim-main);
}

nav .album-name {
  flex: 1;
  color: var(--white-main);
  text-align: center;
}

.album {
  padding: 1em;
  columns: 1;
  column-gap: 1em;
}

@media screen and (min-width: 800px) {
  .album {
    columns: 3;
  }
}

@media screen and (min-width: 1200px) {
  .album {
    columns: 5;
  }
}

.photo {
  margin-bottom: 1em;
  display: inline-block;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-transition: width 0.2s;
}
