.albums {
  background: var(--grey-main);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 300px);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  padding: 1em;
  min-height: 100vh;
}

@media screen and (min-width: 800px) {
  .albums {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .albums {
    grid-template-columns: repeat(5, 1fr);
  }
}

.album {
  max-height: 100%;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.album .album-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-transition: transform 0.2s;
}

.album .album-title {
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,
                              rgba(0,0,0,0.5) 65%, rgba(0,0,0,0.59) 100%);
  margin: 0;
  padding: 5em 1em 1em 1em;
  text-align: center;
  font-size: 1rem;
  color: var(--white-main);
  font-weight: normal;
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-shadow: 0px 0px 5px var(--grey-darkest);
  -webkit-transition: color 0.2s;
}

.album:hover .album-title {
  color: var(--prim-main);
}

.album:hover .album-cover {
  transform: scale(1.1);
}
