.albums {
  background: var(--grey-main);
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(auto-fill, 250px);
  grid-row-gap: 1em;
  grid-column-gap: 1em;
  padding: 1em;
  min-height: 100vh;
}

@media screen and (min-width: 800px) {
  .albums {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (min-width: 1200px) {
  .albums {
    grid-template-columns: repeat(5, 1fr);
  }
}

.album {
  max-height: 100%;
  text-decoration: none;
}

.album .album-cover {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.album .album-title {
  background: var(--grey-lightest);
  margin: 0;
  padding: 1em;
  border-radius: 0 0 5px 5px;
  text-align: center;
  font-size: 1rem;
  color: var(--white-light);
  font-weight: normal;
}
