body {
  display: grid;
  height: 100vh;
  grid:
    [row1-start] "left photo right" 1fr [row1-end]
    [row2-start] "left actions right" 50px [row2-end]
    / 10% auto 10%;
}

.photo {
  grid-area: photo;
}

.photo > img {
  width: 100%;
  height: auto;
}

/* Navigation positioning and sizing */

.nav {
  font-size: 4rem;
}

.nav a {
  display: inline-block;
  height: 100%;
  width: 100%;
  text-align: center;
  line-height: 100vh;
}

.nav.left {
  grid-area: left;
}

.nav.right {
  grid-area: right;
}

/* Navigation colors and interactivity */

.nav {
  background-color: var(--grey-main);
  -webkit-transition: background-color 0.2s;
}

.nav a {
  color: var(--grey-lightest);
  text-decoration: none;
}

.nav:hover {
  background-color: var(--grey-darkest);
}

.nav.disabled {
  background-color: var(--grey-lightest);
  cursor: not-allowed;
}

.nav.disabled a {
  color: var(--grey-main);
}
