:root {
  --prim-main: #45C4FB;
  --prim-lightest: #9FE0FC;
  --prim-light: #6FD1FC;
  --prim-dark: #1BB5F8;
  --prim-darkest: #06A8EE;

  --sec-main: #FFA43E;
  --sec-lightest: #FFD19D;
  --sec-darkest: #FF8700;

  --grey-main: #232627;
  --grey-lightest: #373D3F;
  --grey-light: #2C3031;
  --grey-dark: #1F2324;
  --grey-darkest: #161C1F;

  --white-main: #D5E7EF;
  /* --white-lightest: ; */
  /* --white-light: ; */
  /* --white-dark: ; */
  --white-darkest: #9DADB5;
}

body {
  background-color: var(--prim-darkest);
}

html {
  font-size: 100%;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

/* Better mobile experience */
@viewport {
  width: 100%;
  zoom: 1.0;
  user-zoom: fixed;
}
