<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
  <link rel="stylesheet" type="text/css" href="/css/index.css">
  <title></title>
</head>
<body>
  <div class="albums">
    {% for album in overview.albums|sort(reverse=true, attribute="created") %}
    <a href="/{{ album.name_nav }}/" class="album">
      <img src="{{ img_baseurl }}/{{ album.images[0].get_name("thumbnail_w_400") }}.jpg"
           alt="{{ album.name_display }}" class="album-cover">
      <h2 class="album-title">{{ album.name_display }}</h2>
    </a>
    {% endfor %}
  </div>
</body>
</html>
