<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
  <link rel="stylesheet" type="text/css" href="/css/photo.css">
  <script src="/js/photo.js" defer></script>
  <title>pxl</title>
</head>
<body>
  {% if img_prev %}
  <div class="nav left">
    <a title="Prev image"
       id="prev"
       href="/{{ album_name }}/{{ img_prev.remote_uuid }}">&#10094;</a>
  </div>
  {% else %}
  <div class="nav left disabled">
    <a>&#10094;</a>
  </div>
  {% endif %}

  <div class="photo">
    <img src="{{ img_baseurl }}/{{ img.remote_uuid }}.jpg">
  </div>
  <div class="photo-actions">
    <a href="#">Download</a>
    <a href="#">Report</a>
  </div>

  {% if img_next %}
  <div class="nav right">
    <a title="Next image"
       id="next"
       href="/{{ album_name }}/{{ img_next.remote_uuid }}">&#10095;</a>
  </div>
  {% else %}
  <div class="nav right disabled">
    <a>&#10095;</a>
  </div>
  {% endif %}
</body>
</html>
