:root {
  --color-side-button: rgba(98, 202, 218, 0.3);
  --color-side-button-hover: rgba(98, 202, 202, 0.7);
}

.photo-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 80%;
  position: relative;
  width: 50%;
}

.photo > img {
  width: 100%;
  height: auto;
}

.album-text {
  position: absolute;
  top: 8px;
  right: 16px;
  color: white;
  font-size: 2rem;
  padding: 10px;
  visibility: hidden;
  opacity: 0;
  text-shadow: 2px 2px rgba(0,0,0,0.7);
  -webkit-transition: visibility 0.5s, opacity 0.3s, border 0.1s;
}

.album-text > a {
  color: white;
  text-decoration: none;
}

.photo:hover .album-text {
  visibility: visible;
  opacity: 1;
}

.album-text:hover {
  border-bottom: 3px solid white;
}

/* ----- NAVIGATION SECTION ------- */

.nav {
  position: absolute;
  top: 0px;
  width: 10%;
  height: 100vh;
  z-index: 9999;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  color: var(--theme-dark-blue);
  text-shadow: 1px 2px rgba(0,0,0,0.4);
  -webkit-transition: background-image 0.2s;
}


#left {
  left: 0px;
  background-image: linear-gradient(to right, var(--color-side-button), var(--broken-white));
  -webkit-transition: padding-left 0.2s;
}

#left:hover {
  background-image: linear-gradient(to right, var(--color-side-button-hover), var(--broken-white)); 
  padding-left: 10px;

}

#right {
  right: 0px;
  background-image: linear-gradient(to left, var(--color-side-button), var(--broken-white));
  -webkit-transition: padding-right 0.2s;
}

#right:hover {
  background-image: linear-gradient(to left, var(--color-side-button-hover), var(--broken-white)); 
  padding-right: 10px;
}
