<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/theme.css">
  <link rel="stylesheet" type="text/css" href="/css/photo.css">
  <script src="/js/photo.js" defer></script>
  <title>pxl</title>
</head>
<body>
  {% if img_prev %}
  <div class="nav left">
    <a title="Previous"
       id="prev"
       href="/{{ album_name }}/{{ img_prev.remote_uuid }}">&#10094;</a>
  </div>
  {% else %}
  <div class="nav left disabled">
    <a>&#10094;</a>
  </div>
  {% endif %}

  <div class="photo">
    <img src="{{ img_baseurl }}/{{ img.remote_uuid }}.jpg">
  </div>
  <div class="photo-actions right">
    <a title="Download" class="download" href="#">
      <div class="icon">
        <svg viewBox="0 0 512 512">
          <path d="M416 199.5h-91.4V64H187.4v135.5H96l160 158.1 160-158.1zM96 402.8V448h320v-45.2H96z"/>
        </svg>
      </div>
      <div class="text">Download</div>
    </a>
    <a title="Report" class="report" href="#">
      <div class="icon">
        <svg viewBox="0 0 512 512">
          <path d="M256 48C141.6 48 48 141.601 48 256s93.6 208 208 208 208-93.601 208-208S370.4 48 256 48zm24 312h-48v-40h48v40zm0-88h-48V144h48v128z"/>
        </svg>
      </div>
      <div class="text">Report</div>
    </a>
  </div>

  {% if img_next %}
  <div class="nav right">
    <a title="Next"
       id="next"
       href="/{{ album_name }}/{{ img_next.remote_uuid }}">&#10095;</a>
  </div>
  {% else %}
  <div class="nav right disabled">
    <a>&#10095;</a>
  </div>
  {% endif %}
</body>
</html>
