:root {
  --album-title-font: Verdana, Geneva, sans-serif;
  --theme-light-blue: #6290c3;
  --theme-dark-blue: #1a1b41;
  --theme-sand: #f7edd7;
}

body { background-color: #f5f5f5 }

html { 
 font-size: 100%; 
 font-family: Verdana, Geneva, sans-serif;
}


/* Better mobile experience */
@viewport {
	width: 100%;
	zoom: 1.0;
	user-zoom: fixed;
}
